@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rock+Salt&display=swap');

:root {
    --primary-color: #0FD8C6;
    --secondary-color: #8EDEFF;
    --accent1-color: #A4FF09;
    --accent2-color: #9D711F;

    --heading-font: "Rock Salt", serif;
    --paragraph-font: "Roboto", serif;

    --nav-background-color: #36ABEF;
    --nav-link-color: #d90f7b;
    --nav-hover-link-color: #D90F45;
    --nav-hover-background-color: #4C209E;
}

* {
    margin: 50px;
    padding: 50px;
    box-sizing: border-box;
    background-color: #6cacd1;
}

body {
    box-sizing: border-box;
    padding: 20px;
}

header {
    padding: 20px;
    background-color: #635546;
}

h1, h2 {
    font-size: 14rem;
    font-family: var(--heading-font);
    text-shadow: 3px 3px 5px #777;
    border-bottom: 1px solid #000000;
}

p {
    float: right;
    font-family: var(--paragraph-font);
    font-size: 4rem;
    padding: 25px;
}

.description {
    float: left;
}


aside {
    font-family: var(--heading-font);
    font-size: 20rem;
    float: inline-start;
}



.Title0 {
    display: grid;
    align-items: center;
    justify-content: center;
}


.hero img{
    display: block;
    width: 100%;
    height: auto;
}


section img {
    background-color: #000000;
    width:40%;
    height:40%;
    float: inline-start;
    display: table-column-group;
    padding: 20px;
}

footer {
	font-weight: 700;
	font-style: italic;
    font-size: large;
    float: left;
}

.sociallinks {
    padding-top: 200px;
    float: left;
    height: 200px;
    width: 200px;
    padding: 40px;

}

.sociallinks img {
    padding: 20px;
}

